Xft.hinting: true
Xft.antialias: true

URxvt.scrollBar: false
URxvt.cursorBlink: true
URxvt.cursorUnderline: 1

URxvt.allow_bold: false
URxvt*font: xft:Terminus:size=9
URxvt.internalBorder: 5

URxvt.background: #282828
URxvt.foreground: #BDBDBD

URxvt*color4: #2196F3
URxvt*color12: #2196F3

URxvt.perl-ext:
URxvt.perl-ext-common:
